@rendermode InteractiveServer
@using StoryBook.Scripts

<Button class="@Class" Color="@buttonColor" @onclick="OnButtonClick">@ParamName</Button>

@code {
    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public int SectionId { get; set; } = 0;
    [Parameter]
    public string ParamName { get; set; } = "";

    private EToggleState buttonState = EToggleState.Normal;
    private Color buttonColor = Color.None;

    public bool IsSelected
    {
        get { return (buttonState == EToggleState.Selected); }
    }

    private void OnButtonClick()
    {
        SwitchState();

        bool enable = (buttonState == EToggleState.Selected);
        CreateStoryData.ToggleParameter(SectionId, ParamName, isMultiSelection: true, enable);
    }

    private void SwitchState()
    {
        buttonState = (buttonState == EToggleState.Normal) ? EToggleState.Selected : EToggleState.Normal;

        switch (buttonState)
        {
            case EToggleState.Normal:
                buttonColor = Color.None;
                break;
            case EToggleState.Selected:
                buttonColor = Color.Primary;
                break;
        }
    }
}