@rendermode InteractiveServer

<Button class="@Class" Color="@toggleColor" @onclick="OnButtonClick">@ParamName</Button>

@code {
    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public int SectionId { get; set; } = 0;
    [Parameter]
    public string ParamName { get; set; } = "";

    private EToggleState toggleState = EToggleState.Normal;
    private Color toggleColor = Color.None;

    public bool IsSelected
    {
        get { return (toggleState == EToggleState.Selected); }
    }

    private void OnButtonClick()
    {
        SwitchState();

        bool enable = (toggleState == EToggleState.Selected);
        CreateStoryData.ToggleParameter(SectionId, ParamName, isMultiSelection: true, enable);
    }

    private void SwitchState()
    {
        toggleState = (toggleState == EToggleState.Normal) ? EToggleState.Selected : EToggleState.Normal;

        switch (toggleState)
        {
            case EToggleState.Normal:
                toggleColor = Color.None;
                break;
            case EToggleState.Selected:
                toggleColor = Color.Primary;
                break;
        }
    }
}