@rendermode InteractiveServer

<Button class="@Class" Color="@toggleColor" @onclick="OnButtonClick">@ParamName</Button>

@code {
  [Parameter]
  public string Class { get; set; } = "";
  [Parameter]
  public int SectionId { get; set; } = 0;
  [Parameter]
  public string ParamName { get; set; } = "";
  [Parameter]
  public bool IsMultiSelection { get; set; } = false;
  [Parameter]
  public EventCallback onDoneButtonClicked { get; set; }

  private EToggleState currentToggleState = EToggleState.Normal;
  private Color toggleColor = Color.None;

  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    bool isSelected = StoryParameterManager.IsSelectedParameter(SectionId, ParamName);
    EToggleState nextState = isSelected ? EToggleState.Selected : EToggleState.Normal;
    SwitchToggleState(nextState);
  }

  private async Task OnButtonClick()
  {
    if (IsMultiSelection)
    {
      int currentSelectedAmount = StoryParameterManager.GetSelectedParametersAmount(SectionId);

      if (IsSelected() && (currentSelectedAmount == 1))
      {
        return;
      }
    }
    else
    {
      if (IsSelected())
      {
        return;
      }
    }


    SwapToggleState();
    StoryParameterManager.ToggleSelectedParameter(SectionId, ParamName, IsMultiSelection, IsSelected());

    if (!IsMultiSelection)
    {
      await onDoneButtonClicked.InvokeAsync();
    }
  }

  private void SwapToggleState()
  {
    currentToggleState = (currentToggleState == EToggleState.Normal) ? EToggleState.Selected : EToggleState.Normal;
    UpdateColor();
  }

  public void SwitchToggleState(EToggleState nextState)
  {
    currentToggleState = nextState;
    UpdateColor();
  }

  private void UpdateColor()
  {
    switch (currentToggleState)
    {
      case EToggleState.Normal:
        toggleColor = Color.None;
        break;
      case EToggleState.Selected:
        toggleColor = Color.Primary;
        break;
    }
  }

  private bool IsSelected()
  {
    return (currentToggleState == EToggleState.Selected);
  }
}