@rendermode InteractiveServer

<Button class="@Class" Color="@buttonColor" @onclick="OnButtonClick">@Text</Button>

@code {
    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public string Text { get; set; } = "";

    private enum State
    {
        Normal,
        Selected
    }

    private State buttonState = State.Normal;
    private Color buttonColor = Color.Light;

    public bool IsSelected
    {
        get { return (buttonState == State.Selected); }
    }

    protected override void OnInitialized()
    {
    }

    private void OnButtonClick()
    {
        SwitchState();
    }

    private void SwitchState()
    {
        switch (buttonState)
        {
            case State.Normal:
                buttonState = State.Selected;
                buttonColor = Color.Active;
                break;

            case State.Selected:
                buttonState = State.Normal;
                buttonColor = Color.Light;
                break;
        }
    }
}
