@rendermode InteractiveServer

<Button class="@Class" Color="@toggleColor" @onclick="OnButtonClick">@Text</Button>

@code {
    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public string Text { get; set; } = "";

    private EToggleState toggleState = EToggleState.Normal;
    private Color toggleColor = Color.Light;

    public bool IsSelected
    {
        get { return (toggleState == EToggleState.Selected); }
    }

    protected override void OnInitialized()
    {
    }

    private void OnButtonClick()
    {
        SwitchState();
    }

    private void SwitchState()
    {
        switch (toggleState)
        {
            case EToggleState.Normal:
                toggleState = EToggleState.Selected;
                toggleColor = Color.Active;
                break;

            case EToggleState.Selected:
                toggleState = EToggleState.Normal;
                toggleColor = Color.Light;
                break;
        }
    }
}