@page "/"

<div class="layout-demo" style="height: 100%;">
  <Layout ShowFooter="false" SideWidth="10%" AdditionalAssemblies="[typeof(MainLayout).Assembly]">
    <Side>
      <MySideMenu CurrentPage=EPage.Browse />
    </Side>
    <Main>
      <div class="page-content-center">
        <BrowseContent />
      </div>
    </Main>
  </Layout>
</div>