@page "/create"
@using StoryBook.Components.Layout
@using StoryBook.Components.Views

<div class="layout-demo main-layout" style="height: 100%;">
    <Layout ShowFooter="false" SideWidth="15%" AdditionalAssemblies="[typeof(MainLayout).Assembly]">
        <Side>
            <SideMenuView CurrentPage=SideMenuView.Page.Create />
        </Side>
        <Main>
            <div class="main-body">
                <CreateView />
            </div>
        </Main>
    </Layout>
</div>
