@page "/Create"

<div class="layout-demo main-layout" style="height: 100%;">
    <Layout ShowFooter="false" SideWidth="15%" AdditionalAssemblies="[typeof(MainLayout).Assembly]">
        <Side>
            <MySideMenu CurrentPage=EPage.Create />
        </Side>
        <Main>
            <div class="main-body">
                <CreateContent />
            </div>
        </Main>
    </Layout>
</div>