@page "/Generate"

<div class="layout-demo main-layout" style="height: 100%;">
    <Layout ShowFooter="false" SideWidth="12%" AdditionalAssemblies="[typeof(MainLayout).Assembly]">
        <Side>
            <MySideMenu CurrentPage=EPage.Generate />
        </Side>
        <Main>
            <GenerateContent />
        </Main>
    </Layout>
</div>