@page "/Generate"

<div class="layout-demo" style="height: 100%;">
  <Layout ShowFooter="false" SideWidth="10%" AdditionalAssemblies="[typeof(MainLayout).Assembly]">
    <Side>
      <MySideMenu CurrentPage=EPage.Generate />
    </Side>
    <Main>
      <div class="page-content-top">
        <GenerateContent />
      </div>
    </Main>
  </Layout>
</div>