<Stack IsRow="true" Justify="StackJustifyContent.Start" AlignItems="StackAlignItems.Center" IsWrap="true"
       IsReverse="false">
  <StackItem>
    <div class="stack-item-demo header-title">
      Storybook
    </div>
  </StackItem>
  <StackItem>
    <div class="stack-item-demo header-item">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-list" aria-hidden="true"></span> Browse
      </NavLink>
    </div>
  </StackItem>
  <StackItem>
    <div class="stack-item-demo header-item">
      <NavLink class="nav-link" href="/Create">
        <span class="bi bi-pencil-square" aria-hidden="true"></span> Create
      </NavLink>
    </div>
  </StackItem>
</Stack>