@font-face {
	font-family: "roboto-regular";
	src: url("fonts/Roboto-Regular.woff2") format("woff2"),
		url("fonts/Roboto-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "roboto-medium";
	src: url("fonts/Roboto-Medium.woff2") format("woff2"),
		url("fonts/Roboto-Medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "roboto-bold";
	src: url("fonts/Roboto-Bold.woff2") format("woff2"),
		url("fonts/Roboto-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "roboto-black";
	src: url("fonts/Roboto-Black.woff2") format("woff2"),
		url("fonts/Roboto-Black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* override browser default */
	margin: 0 !important;
	padding: 0 !important;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100vh !important;
	width: 100vw !important;
}

/* include border and padding in element width and height */
* {
	box-sizing: border-box !important;
}

.divider-mask {
	width: 0.1em !important;
	background-color: rgb(144, 144, 144) !important;
}

.content {
	padding-top: 1.1rem;
}

h1:focus {
	outline: none;
}

.valid.modified:not([type="checkbox"]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid #e50000;
}

.validation-message {
	color: #e50000;
}

.blazor-error-boundary {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=)
			no-repeat 1rem/1.8rem,
		#b32121;
	padding: 1rem 1rem 1rem 3.7rem;
	color: white;
}

.blazor-error-boundary::after {
	content: "An error has occurred.";
}

.darker-border-checkbox.form-check-input {
	border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
	color: var(--bs-secondary-color);
	text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
	text-align: start;
}

/* CENTER STYLES */

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-center-vertical {
	display: flex;
	align-items: center;
}

.flex-center-horizontal {
	display: flex;
	justify-content: center;
}

/* TEXT EFFECTS */

.text-outline {
	text-shadow: -1px -1px 0 #00000090, 1px -1px 0 #00000090,
		-1px 1px 0 #00000090, 1px 1px 0 #00000090;
}

/* HEADER */

.header-title {
	margin-right: 2.5rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.header-item {
	margin-right: 1.5rem;
}

/* PAGE */

.main-layout,
.layout-main {
	background-color: rgb(230, 230, 230);
}

.main-body {
	margin: -1rem;
}

/* STACK LINE */

.stack-mainline-1,
.stack-mainline-2 {
	width: 100%;
	height: 8rem;
	padding: 1.5rem 1rem 1.5rem 1rem;
	border-bottom: 0.1rem solid #001935;
}

.stack-mainline-1 {
	background-color: #0049a1;
}

.stack-mainline-2 {
	background-color: #0054ba;
}

.stack-child-title {
	font-family: "roboto-bold";
	font-size: 1rem;
	width: 6.2rem;
	color: white;
}

.stack-child-parameters {
	width: 100%;
	height: 4rem;
}

.stack-line-confirm {
	width: 100%;
	height: 4rem;
	padding: 2rem 1rem 1rem 1rem;
}

.stack-button {
	min-width: 6.2rem;
	margin-right: 1rem;
}

.stack-button-toggle {
	font-family: "roboto-medium";
	font-size: 0.9rem;
}

.stack-button-confirm {
	font-family: "roboto-black";
	font-size: 1rem;
}

/* BOOTSTRAP BLAZOR / OVERRIDES */

.btn.stack-button,
.btn.stack-button:hover {
	color: white;
}
