.nav-scrollable {
	display: none;
}

.side-container {
	height: 100%;
	/* colors: carob, cedar */
	background: #3d2a19;
	background: linear-gradient(
		90deg,
		rgba(61, 42, 25, 1) 0%,
		rgba(83, 60, 42, 1) 15%,
		rgba(83, 60, 42, 1) 85%,
		rgba(61, 42, 25, 1) 100%
	);
}

.side-element,
.side-title {
	width: 100%;
	border-width: 0;
	color: #f6edd6;
}

.side-element {
	height: 4rem;
}

.side-title {
	height: calc(100% - 2 * 4rem);
	font-family: "roboto-black";
	font-size: 3.75rem;
	writing-mode: vertical-lr;
	text-orientation: upright;
	/* text outline */
	text-shadow:
		-2px -2px 0 #452401,
		2px -2px 0 #452401,
		-2px 2px 0 #452401,
		2px 2px 0 #452401;
}

.button-side-selected,
.button-side-normal,
.button-side-disabled {
	font-family: "roboto-black";
	font-size: 1.25rem;
}

.button-side-normal,
.button-side-disabled {
	/* colors: carob, cedar (3 steps darker) */
	background: #352516;
	background: linear-gradient(
		90deg,
		rgba(53, 37, 22, 1) 0%,
		rgba(75, 54, 38, 1) 15%,
		rgb(75, 54, 38, 1) 85%,
		rgba(53, 37, 22, 1) 100%
	);
	/* text outline */
	text-shadow:
		-1px -1px 0 #00000090,
		1px -1px 0 #00000090,
		-1px 1px 0 #00000090,
		1px 1px 0 #00000090;
}

.button-side-normal:hover {
	/* colors: carob, cedar (4 steps darker) */
	background: #332315;
	background: linear-gradient(
		90deg,
		rgba(51, 35, 21, 1) 0%,
		rgba(73, 53, 37, 1) 15%,
		rgba(73, 53, 37, 1) 85%,
		rgba(51, 35, 21, 1) 100%
	);
}

.button-side-selected {
	/* colors: sepia, almond */
	background: #693f17;
	background: linear-gradient(
		90deg,
		rgba(105, 63, 23, 1) 0%,
		rgba(149, 98, 53, 1) 15%,
		rgba(149, 98, 53, 1) 85%,
		rgba(105, 63, 23, 1) 100%
	);
	/* text outline */
	text-shadow:
		-1px -1px 0 #623919,
		1px -1px 0 #623919,
		-1px 1px 0 #623919,
		1px 1px 0 #623919;
}

.navbar-toggler:checked ~ .nav-scrollable {
	display: block;
}

.navbar-toggler {
	appearance: none;
	cursor: pointer;
	width: 3.5rem;
	height: 2.5rem;
	color: white;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
		no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
	background-color: rgba(255, 255, 255, 0.5);
}

.nav-item {
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
	padding-top: 1rem;
}

.nav-item:last-of-type {
	padding-bottom: 1rem;
}

.nav-item ::deep .nav-link {
	color: #d7d7d7;
	background: none;
	border: none;
	border-radius: 4px;
	height: 3rem;
	display: flex;
	align-items: center;
	line-height: 3rem;
	width: 100%;
}

.nav-item ::deep a.active {
	background-color: rgba(255, 255, 255, 0.37);
	color: white;
}

.nav-item ::deep .nav-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
}

@media (min-width: 641px) {
	.navbar-toggler {
		display: none;
	}

	.nav-scrollable {
		/* Never collapse the sidebar for wide screens */
		display: block;
		/* Allow sidebar to scroll for tall menus */
		height: 100vh;
		overflow-y: auto;
	}
}
